{{ form_start(form) }}{# c'est l'équivalent de <form method="post"> avec form c'est la clé retourné dans le render de la fonction" #}
{{ form_widget(form.nom) }}
<input type="submit" value="Ajout">
{{ form_end(form) }}{# </form> #}